#list of ignored files
*blx.bib
*eps-converted-to.pdf
past\ theses/
ucbthesis.pdf
ucbthesis.cls
jdthesis.pdf
thesis.pdf
*.aux
*.log
thesis*
*.synctex.gz
*.synctex.gz(busy)
jdthesis.run.xml
jdthesis.lot
jdthesis.lof
jdthesis.toc
jdthesis.bcf
*.blg
*.bbl
*.out
*ch?only.pdf
JesseDay_thesis.pdf

